@use "../../styles/mixins" as *;

.main {
  min-height: 100vh;
  width: 100%;
  color: #cacaca;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo {
  padding-left: 24px;
  width: fit-content;
  h1 {
    user-select: none;
    font-size: 7em;
    text-align: left;
    position: relative;
  }
  p {
    user-select: none;
  }

  @include respond-to(md) {
    width: 90%;
    
    align-self: center;
    flex-wrap: wrap;
    h1 {
      text-align: center;
      font-size: 4em;
    }
    p {
      
      margin-bottom: 10px;
      font-size: 0.9em;
    }
  }

  @include respond-to(sm) {
    flex-wrap: wrap;
    h1 {
      font-size: 4em;
    }
  }
}
