@use "../../../../styles/mixins" as *;

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  color: #cacaca;
  margin-bottom: 60px;
  width: 80%;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.image {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 300px;

  img {
    object-fit: cover;
  }

  @include respond-to(lg) {
    width: 750px;
    height: 450px;
    margin-bottom: 0px;
  }
  @include respond-to(md) {
    width: 540px;
    height: 280px;
    margin-bottom: 0px;
  }

  @include respond-to(sm) {
    width: 330px;
    height: 180px;
    margin-bottom: 0px;
  }
}

.lista {
  display: flex;
  gap: 28px;
}

.sobre {
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;

  display: flex;
  gap: 12px;
  margin-top: 60px;
  margin-bottom: 60px;

  h2 {
    font-size: 2em;
    color: #555555;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  p {
    font-weight: bolder;
    font-size: 1.5em;
    width: 100%;
  }

  &__image {
    position: relative;
    width: 660px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;

    img {
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    h2 {
      font-size: 2.8em;
    }

    p {
      width: 64%;
      font-size: 28px;
      font-weight: 400;
      line-height: 42px;
    }
  }

  @include respond-to(xl) {
    gap: 20px;
    align-items: center;
    &__image {
      height: 400px;
    }

    p {
      font-size: 1.2em;
      line-height: 32px;
    }

    &__info {
      width: 70%;
      h2 {
        font-size: 2.4em;
      }

      p {
        width: 100%;
        line-height: 30px;
      }
    }
  }
  @include respond-to(lg) {
    flex-direction: column;

    &__image {
      display: none;
    }

    p {
      width: 100%;
      font-size: 1.6em;
      text-indent: 0px;
    }

    &__info {
      width: 100%;
      h2 {
        font-size: 2em;
      }

      p {
        font-size: 20px;
      }
    }
  }
  @include respond-to(md) {
    flex-direction: column;

    p {
      width: 100%;
      font-size: 1.6em;
      text-indent: 0px;
    }

    &__info {
      width: 100%;
      h2 {
        font-size: 1.8em;
      }

      p {
        font-size: 18px;
      }
    }
  }

  @include respond-to(sm) {
    flex-direction: column;

    p {
      width: 100%;
      font-size: 1.2em;
    }

    &__info {
      width: 100%;

      h2 {
        font-size: 1.6em;
      }
    }
  }
}

.circle {
  display: inline-flex;
  width: fit-content;
  background-color: #c7532d;
  margin: 0px 6px;
  width: 6px;
  height: 6px;
}

.ponto {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #cacaca;
}

.button {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 12px;
  font-weight: 500;
  background-color: #cacaca;
  width: fit-content;
  text-decoration: none;
  padding: 10px 20px;
  color: #141414;
  border-radius: 25px;
}
