@use "../../../styles/mixins" as *;

.nav {
  height: 100%;
  padding: 100px 40px 50px 40px;
  box-sizing: border-box;

  .body {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: rgb(31, 31, 31);
      font-weight: 200;
      text-decoration: none;
      font-size: 46px;
    }
  }
}
