.texto {
  color: white;
  padding: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

.links {
  display: flex;

  text-align: right;
  position: absolute;
  padding: 28px;
  gap: 12px;
  bottom: 0;
  right: 0;

  a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
  }
}

.underline {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: white;
  width: 100%;
  transform: scaleX(0);
}
