@use "../../../styles/mixins" as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #cacaca;
  margin-bottom: 60px;

  h1 {
    font-size: 8em;
    color: #cacaca;
    text-transform: uppercase;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    margin-bottom: 60px;
  }

  @include respond-to(sm) {
    h1 {
      font-size: 4em;
      margin-top: 18px;
      padding: 0px;
    }

    &__title {
      margin-bottom: 24px;
      p {
        font-size: 0.6em;
      }
    }
  }
}

.image {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 800px;
  border-radius: 18px;

  img {
    object-fit: cover;
  }

  @include respond-to(lg) {
    width: 84%;
    height: 600px;
  }
  @include respond-to(md) {
    width: 84%;
    height: 400px;
  }

  @include respond-to(sm) {
    width: 84%;
    height: 300px;
  }
}

.texto {
  font-size: 2em;
  font-weight: bold;
}

.link {
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fc6a38;
  transition: color 0.2s ease-in;
  width: fit-content;

  &:hover {
    color: #c7532d;
  }
  @include respond-to(sm) {
    margin-top: 8px;
    font-size: 0.7em;
  }
}

.lista {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;

  @include respond-to(md) {
    font-size: 1em;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include respond-to(sm) {
    font-size: 0.7em;
    gap: 6px;
    margin-top: 12px;
  }
}

.circle {
  display: inline-flex;
  width: fit-content;
  background-color: #c7532d;
  margin: 0px 6px;
  width: 6px;
  height: 6px;
}

.ponto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c7532d;
}

.tecs {
  display: flex;
  align-items: center;
  gap: 12px;
}

.links {
  display: flex;
  align-items: center;
  gap: 18px;
}
